* {
  box-sizing: border-box;
}

main {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: "Gilda Display", serif;
  margin: 0;
}

h2 {
  font-size: 1.75em;
  font-family: "Gilda Display", serif;
  color: #242424;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 0.95em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.1em;
  }
}

a,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

section,
header,
footer {
  overflow: auto;
}

header {
  background-color: #242424;
}
header a:hover {
  text-decoration: overline;
}
header #nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
header #nav .nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
header #nav .nav-wrapper li {
  padding: 10px;
}
header #nav .nav-wrapper li a {
  color: white;
}
@media (min-width: 768px) {
  header #nav .nav-wrapper li {
    padding: 30px;
  }
}

.logo {
  max-width: 85vw;
}
@media (min-width: 768px) {
  .logo {
    max-width: 500px;
  }
}
.logo-wrapper {
  display: flex;
  justify-content: center;
}
.logo-wrapper img {
  margin: 30px;
}
footer .logo-wrapper img {
  max-width: 200px;
}

#about {
  background-color: #E8E5E2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px -6px, rgba(0, 0, 0, 0.23) 0px 3px 6px -6px;
}
#about .about-wrapper {
  width: 80vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
}
@media (min-width: 768px) {
  #about .about-wrapper {
    flex-direction: row;
  }
}
#about h1 {
  margin-top: 15px;
}
@media (min-width: 768px) {
  #about h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#about .meet-jack-img {
  max-height: 300px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border: 3px solid #242424;
}
@media (min-width: 768px) {
  #about .meet-jack-img {
    max-height: 425px;
  }
}
#about .about-text {
  align-self: center;
}
#about p {
  text-transform: uppercase;
  padding-top: 0;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  #about p {
    padding: 50px;
  }
}

#services {
  background: url("../assets/img/background-horse.webp") no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 70px;
}
@media (min-width: 1600px) {
  #services h2 {
    color: white;
  }
}
#services h3 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
#services .service-card-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  #services .service-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: inherit;
  }
}
#services .service-card {
  background-color: #d4c4bc;
  width: 80%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (min-width: 768px) {
  #services .service-card {
    width: 40%;
  }
}

#instagram h2 {
  text-transform: uppercase;
}
#instagram div {
  margin: 0 auto;
}
#instagram .instagram-media .instagram-media-rendered {
  border: none !important;
  max-width: 1000px !important;
}
#instagram .instagram-wrapper {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #E8E5E2;
}/*# sourceMappingURL=styles.css.map */